.slide{
    .carousel-indicators{
        bottom: -63px;
     button{
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        padding: 0;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #ac1590;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        transition: opacity .6s ease;
     }
    }
}