#certificates{
    position: relative;
    overflow:hidden;
    background-image:
    linear-gradient(to bottom, black, rgba(92, 45, 69, 0.3), rgba(0, 0, 0, 0.7), rgba(0 ,0 ,0, .7),rgba(0,0,0,1));
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: url(../../../../images/certificates/bg.png);
      background-position: center bottom;
      background-size: cover;
      background-attachment: fixed;
      
    }
    .bubbles{
            position:absolute;
            width:100%;
            height: 100%;
            z-index:0;
            overflow:hidden;
            top:0;
            left:0;
            z-index: -1;
          .bubble{
            position: absolute;
            bottom:-100px;
            width:40px;
            height: 40px;
            background-image: linear-gradient(to bottom, #5c2d45, transparent, #5c2d45);
            opacity:.95;
            filter:  saturate(180%) blur(1px);

            border-radius:50%;
            animation: rise 10s infinite ease-in;
            &:nth-child(1){
                width:40px;
                height:40px;
                left:10%;
                animation-duration:6s;
              }
            &:nth-child(2){
            width:20px;
            height:20px;
            left:20%;
            animation-duration:5s;
            animation-delay:1s;
            }
            &:nth-child(3){
            width:50px;
            height:50px;
            left:35%;
            animation-duration:6s;
            animation-delay:2s;
            }
            &:nth-child(4){
            width:80px;
            height:80px;
            left:50%;
            animation-duration:9s;
            animation-delay:0s;
            }
            &:nth-child(5){
            width:35px;
            height:35px;
            left:55%;
            animation-duration:6s;
            animation-delay:1s;
            }
            &:nth-child(6){
            width:45px;
            height:45px;
            left:65%;
            animation-duration:7s;
            animation-delay:3s;
            }
            &:nth-child(7){
            width:90px;
            height:90px;
            left:70%;
            animation-duration:10s;
            animation-delay:2s;
            }
            &:nth-child(8){
            width:25px;
            height:25px;
            left:80%;
            animation-duration:6s;
            animation-delay:2s;
            }
            &:nth-child(9){
            width:15px;
            height:15px;
            left:70%;
            animation-duration:5s;
            animation-delay:1s;
            }
            &:nth-child(10){
            width:90px;
            height:90px;
            left:25%;
            animation-duration:8s;
            animation-delay:2.5s;
            }
            
            &:nth-child(11){
            width:50px;
            height:50px;
            left:5%;
            animation-duration: 7s;
            animation-delay:3.1s;
            }
          }
       
       
    }
    img{
        border-radius: 0.8rem;
        border: 3px solid $assist;
 
        padding:4px;
        
        transition: all .4s ease-in-out;
        
        &.active{
            
           
            border: 3px solid $third-primary;
            transition: all 1s ease-in-out;
        }
        &:hover, &:focus{
            border: 3px solid $third-primary;
    
            transition: all .4s ease-in-out;
            
        }
    }
    .certificates-row{
        height: 450px;
       .main-img,.cert-img,.big-img{
        height: 100%;
       }
       .carousel-images{
        height: 100%;
        overflow-y: hidden;
        // scroll-behavior: smooth;
        cursor: grab;
        z-index: 1;
        .cert-img{
          position: relative;
          overflow: hidden;
          &::before{
            content: "";
            position: absolute;
            background-color: rgba(0,0,0, 0.3);
            top: 3%;
            left: 3%;
            width: 94%;
            height: 94%;
            padding:4px;
            z-index: 1;
            
          }
          &:hover::before{
            top:100%;
            
          }
        }
        
    }
       .arrows{
           z-index: 1;
           i{
               cursor: pointer;
               color:rgba(92, 45, 69,.3);
               
               transition: all 0.3s ease-in-out;
               &:hover{
                color: $assist;
                   transition: all 0.3s ease-in-out;
               }
           }
       }
    
}
}

@keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }