.elf-audio{
    bottom: -52px;
    z-index: 3;
    left: -45px;
    transform: scale(.6,.5);
    .emaWaS .VolumeControlButton__VolumeControlButtonComponent-sc-6zst4m-0 {
        width: 40px;
        height: 40px;
        flex-basis: 40px;
        top: -6px;
    }
    
}