#projects{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0,1), rgba(92, 45, 69, 0.2), black);
    min-height:100vh;
    position: relative;
    &::before{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url(../../../../images/certificates/bg1.jpg);
        background-position: center bottom;
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
    }
    .card-nobs{
        &:hover .items{
            visibility: visible;
            
        }
        .card-img{
            position: relative;
            border-radius: 0.8rem;
            box-shadow:0 4px 10px 0px black;
           
            &:hover{
                box-shadow:0 4px 40px 0px white;
            }
            .js-tilt-glare{
                border-radius: 0.8rem;
            }
          img{
            border-radius: 0.8rem;
           
            // height: 330px;
          }
          &::after{
              content:"";
              position:absolute;
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;
              background-color:$primary;
              top: 0;
              left: 0;
              opacity: 0.2;
          }
          &.special::after, &.restaurantly::after{
              display: none;
          }
          &:hover:after{
              opacity: 0;
              
          }
        }
        .items{
            visibility: hidden;
           
            .font-icon{
                a{
                    cursor: pointer;
                    color: silver;
                    opacity: 0.2;
                    transition: all 0.4s ease-in-out;
                    &:hover{
                        opacity: .9;
                        color:white;
                        transition: all 0.4s ease-in-out;
                    }
               
                }
            }
        }
    }
}