$light: #d8dbe0;
$dark: #28292c;
$link: rgb(27, 129, 112);
$link-hover: rgb(24, 94, 82);
$third-primary: #fff;
$primary: #330033;
$assist: #ac1590;
$second-primary: #000;
$box-shadow : 0px 93px 43px -4px  $primary;
$header-font: 'Exo 2', sans-serif;
$p-font: 'Montserrat Alternates', sans-serif;


$card-width: 80%;
$card-max-width: 280px;
$card-height: 350px;
$carousel-min-width: 600px;