#about{
    background-color: $primary;
    &.arabic{
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
    }
    &.english{
        
        transition: opacity 1.5s ease-in-out;
    }
    @font-face {
        font-weight: normal;
        font-display: swap;
        font-family: "Adinda Melia";
        src: url("https://dineshbalaji.in/fonts/adinda-melia.regular.otf");
      }
    &.arabic{
        display: none;
    }
    .flags{
        right: 10px;
        top: 20px;
        img{
            width: 27px;
            margin: 0 6px;
            cursor: pointer;
            @include for-size(xs-phone){
                width: 23px;
            }
        }
        &.arabic{
            left: 10px;
        }
    }
    .about-img{
        .js-tilt-glare{
            border-radius: 50%;
        }
        img{
            border-radius: 50%;
            padding: 4px;
            border: 3px solid #fff;
            cursor: pointer;
            &:hover{
                filter: grayscale(0);
            }
        }
  
    }
 
    .about-content{
        &.arabic {
            h1,p{
                font-family: 'El Messiri', sans-serif;

            }
        }
        .title{
            h1{
             &.arabic {
                 letter-spacing: 0;
             }
            }
            small{
                @include for-size(xs-phone){
                    display: block;
                }
            }
        }
       p{
           line-height:2rem;
           letter-spacing:.05rem;
        &.arabic{
            letter-spacing: 0;
            word-spacing: .2rem;
        }
            &:not(.arabic):first-letter {
                float: left;
                font-size: 45px;
                line-height: 1;
                font-weight: bold;
                margin-right: 9px;
                
            }

        @include for-size(xs-phone){
            font-size:11px;
        }
       }
    }

}

body{
    display: block !important;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    section{
      opacity :1;
      transition: opacity 2s ease-in-out;
  
    }
  }